body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u409_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:576px;
}
#u409 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:576px;
}
#u410 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u411_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:904px;
  height:284px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u411 {
  border-width:0px;
  position:absolute;
  left:53px;
  top:130px;
  width:904px;
  height:284px;
}
#u412 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:134px;
  width:900px;
  visibility:hidden;
  word-wrap:break-word;
}
#u413_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u413 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:147px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u414 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u415_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u415 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u416 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u417_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 104, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u417 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:279px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u418 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u419_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(198, 198, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u419 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:381px;
  width:107px;
  height:41px;
}
#u420 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
#u421_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u421 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u422 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u423_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u423 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u424 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u425_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u425 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u426 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u427_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u427 {
  border-width:0px;
  position:absolute;
  left:562px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u428 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u429_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u429 {
  border-width:0px;
  position:absolute;
  left:679px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u430 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u431_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(100, 152, 254, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u431 {
  border-width:0px;
  position:absolute;
  left:796px;
  top:181px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u432 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u433_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u433 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:247px;
  width:73px;
  height:22px;
  font-size:18px;
}
#u434 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  white-space:nowrap;
}
#u435_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 104, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u435 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:279px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u436 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u437_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 104, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u437 {
  border-width:0px;
  position:absolute;
  left:328px;
  top:279px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u438 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u439_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(255, 104, 1, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u439 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:279px;
  width:107px;
  height:41px;
  font-size:16px;
  color:#FFFFFF;
}
#u440 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u441_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u441 {
  border-width:0px;
  position:absolute;
  left:94px;
  top:338px;
  width:132px;
  height:22px;
  font-size:18px;
}
#u442 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:132px;
  white-space:nowrap;
}
#u443_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:41px;
  background:inherit;
  background-color:rgba(198, 198, 198, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u443 {
  border-width:0px;
  position:absolute;
  left:211px;
  top:381px;
  width:107px;
  height:41px;
}
#u444 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:103px;
  word-wrap:break-word;
}
