body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1024px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u342_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:576px;
}
#u342 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1024px;
  height:576px;
}
#u343 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:280px;
  width:1020px;
  visibility:hidden;
  word-wrap:break-word;
}
#u344_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:226px;
  height:116px;
}
#u344 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:61px;
  width:225px;
  height:115px;
}
#u345 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:50px;
  width:221px;
  word-wrap:break-word;
}
#u346 {
  border-width:0px;
  position:absolute;
  left:38px;
  top:14px;
  width:948px;
  height:480px;
  overflow:hidden;
  visibility:hidden;
}
#u346_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:480px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u346_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u347 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:480px;
}
#u348 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:943px;
  visibility:hidden;
  word-wrap:break-word;
}
#u349_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u349 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:9px;
  width:110px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  white-space:nowrap;
}
#u351_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:615px;
  height:52px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(204, 204, 204, 1);
  border-radius:10px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
}
#u351 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:59px;
  width:615px;
  height:52px;
  font-size:20px;
}
#u352 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:611px;
  visibility:hidden;
  word-wrap:break-word;
}
#u353_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u353 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:74px;
  width:109px;
  height:22px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u354 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:109px;
  white-space:nowrap;
}
#u355 {
  border-width:0px;
  position:absolute;
  left:207px;
  top:65px;
  width:446px;
  height:41px;
}
#u355_input {
  position:absolute;
  left:0px;
  top:0px;
  width:446px;
  height:41px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  text-decoration:none;
  color:#000000;
}
#u355_input:disabled {
  color:grayText;
}
#u356 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:121px;
  width:837px;
  height:270px;
  overflow:hidden;
}
#u356_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:270px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u356_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u357 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:16px;
  width:782px;
  height:91px;
}
#u357_input {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u358_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u358 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:123px;
  width:49px;
  height:22px;
  font-size:18px;
}
#u359 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u360 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:118px;
  width:708px;
  height:34px;
}
#u360_input {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u361_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u361 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:176px;
  width:49px;
  height:22px;
  font-size:18px;
}
#u362 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u363 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:171px;
  width:708px;
  height:34px;
}
#u363_input {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u364_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u364 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:222px;
  width:767px;
  height:37px;
  font-size:18px;
}
#u365 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:763px;
  word-wrap:break-word;
}
#u356_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:270px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u356_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u366 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:16px;
  width:782px;
  height:91px;
}
#u366_input {
  position:absolute;
  left:0px;
  top:0px;
  width:782px;
  height:91px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u367_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u367 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:123px;
  width:49px;
  height:22px;
  font-size:18px;
}
#u368 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u369 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:118px;
  width:708px;
  height:34px;
}
#u369_input {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u370_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u370 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:176px;
  width:49px;
  height:22px;
  font-size:18px;
}
#u371 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  white-space:nowrap;
}
#u372 {
  border-width:0px;
  position:absolute;
  left:85px;
  top:171px;
  width:708px;
  height:34px;
}
#u372_input {
  position:absolute;
  left:0px;
  top:0px;
  width:708px;
  height:34px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:767px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u373 {
  border-width:0px;
  position:absolute;
  left:26px;
  top:222px;
  width:767px;
  height:37px;
  font-size:18px;
}
#u374 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:763px;
  word-wrap:break-word;
}
#u356_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:837px;
  height:270px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u356_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u375 {
  border-width:0px;
  position:absolute;
  left:59px;
  top:13px;
  width:704px;
  height:132px;
}
#u375_input {
  position:absolute;
  left:0px;
  top:0px;
  width:704px;
  height:132px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u376_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u376 {
  border-width:0px;
  position:absolute;
  left:241px;
  top:424px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u377 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u378_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
  background:inherit;
  background-color:rgba(22, 155, 213, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
}
#u378 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:424px;
  width:140px;
  height:40px;
  font-size:16px;
}
#u379 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:136px;
  word-wrap:break-word;
}
#u346_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:480px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u346_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u380_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u380 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:947px;
  height:480px;
}
#u381 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:943px;
  visibility:hidden;
  word-wrap:break-word;
}
#u382_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u382 {
  border-width:0px;
  position:absolute;
  left:403px;
  top:9px;
  width:141px;
  height:28px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  color:#666666;
}
#u383 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:141px;
  white-space:nowrap;
}
#u384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u384 {
  border-width:0px;
  position:absolute;
  left:908px;
  top:6px;
  width:30px;
  height:30px;
  font-size:36px;
  color:#999999;
}
#u385 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-6px;
  width:26px;
  word-wrap:break-word;
}
#u386_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u386 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:58px;
  width:27px;
  height:22px;
  font-size:18px;
}
#u387 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u388_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u388 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:103px;
  width:236px;
  height:22px;
  font-size:18px;
}
#u389 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:236px;
  white-space:nowrap;
}
#u390_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u390 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:150px;
  width:51px;
  height:22px;
  font-size:18px;
}
#u391 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u392_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u392 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:190px;
  width:51px;
  height:22px;
  font-size:18px;
}
#u393 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:51px;
  white-space:nowrap;
}
#u394_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u394 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:234px;
  width:52px;
  height:22px;
  font-size:18px;
}
#u395 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:52px;
  white-space:nowrap;
}
#u396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:53px;
}
#u396 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:427px;
  width:948px;
  height:53px;
}
#u397 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:18px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u398_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:93px;
  height:28px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u398 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:439px;
  width:93px;
  height:28px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#999999;
}
#u399 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:89px;
  word-wrap:break-word;
}
#u398_ann {
  border-width:0px;
  position:absolute;
  left:300px;
  top:435px;
  width:1px;
  height:1px;
}
#u400 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:435px;
  width:113px;
  height:32px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u346_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:480px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u346_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:479px;
}
#u401 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:948px;
  height:479px;
}
#u402 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:232px;
  width:944px;
  visibility:hidden;
  word-wrap:break-word;
}
#u403_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u403 {
  border-width:0px;
  position:absolute;
  left:265px;
  top:424px;
  width:133px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u404 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u403_ann {
  border-width:0px;
  position:absolute;
  left:391px;
  top:420px;
  width:1px;
  height:1px;
}
#u405_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:133px;
  height:38px;
  background:inherit;
  background-color:rgba(204, 204, 204, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#FFFFFF;
}
#u405 {
  border-width:0px;
  position:absolute;
  left:408px;
  top:424px;
  width:133px;
  height:38px;
  font-size:16px;
  color:#FFFFFF;
}
#u406 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:129px;
  word-wrap:break-word;
}
#u405_ann {
  border-width:0px;
  position:absolute;
  left:534px;
  top:420px;
  width:1px;
  height:1px;
}
#u407 {
  border-width:0px;
  position:absolute;
  left:551px;
  top:424px;
  width:122px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u408 {
  border-width:0px;
  position:absolute;
  left:910px;
  top:0px;
  width:38px;
  height:38px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
